.container{
    margin-top: 20px;
}

.two{
    display: flex;
    justify-content: flex-end;
    margin-left: 220px;
    
}

.myrow{
    display: flex;
}

.col-md-1{
    padding:10px;
}

i{
    cursor: pointer;
}

button{
    color: black;
}

.follow{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}